* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --secondary: #828282;
    --bg-gray: #F6F6F6;
}

html {
    scroll-behavior: smooth; /*thanks to w3 schools*/
}

a:visited,
a {
    color: inherit;
}

/*-----------------------------*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CAN USE AGAIN*/

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
}

.block-title {
    font-size: 34px;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 18px;
}

.button {
    background-color: #000;
    color: #fff;
    border: 0;
}

/*-----HOME-----*/

.home {
    width: 70%;
}

.home__nav {
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
    padding: 1.8rem 0;
}

.home__menu:hover {
    font-weight: bold;
    color: black;
}

.home__body::before {
    content: '';
    position: absolute;
    width: 70%;
    background-color: var(--secondary);
    transform: matrix(1, 0, 0, 1, 0, 0);
    border: 1px solid var(--secondary);
}

.home__body {
    display: flex;
    justify-content: center;
    }

.home__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.home__item1 {
    font-size: 2.4rem;
}

.home__item2 {
    display: flex;
    align-items: flex-end;
    font-weight: 300;
    font-size: 18px;
}

.home__item3 {
    transform: rotate(-90deg);
}

.home__item4 {
    display: none;
}

.home__img {
    display: block;
    width: 100%;
    height: 35rem;
    object-fit: cover;
    margin: 2.5rem 0 5rem 0;
}

/*-----ABOUT ME-----*/



.about {
    background-color: var(--bg-gray);
    width: 100%;
}

.about__title {
    margin: 5rem 0 2.5rem 0;
}

.about__body {
    margin-bottom: 5rem;
}

/*-----SKILLS-----*/

.skills__title {
    margin: 5rem 0;
}

.skills__body {
    margin-bottom: 5rem;
}

.skills__images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5rem;
}

.skills__item  /*---br's in html markup---*/ {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}

/*-----PORTFOLIO-----*/

.portfolio {
    background-color: var(--bg-gray);
    width: 100%;
}

.portfolio__title {
   margin: 5rem 0 0.5rem 0;
}

.portfolio__body /* IT'S TEMP BODY */{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 4rem;
}

.portfolio__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__slider > i {
    z-index: 2;
    color: var(--secondary);
    padding: 0 0 0 2vw;
    cursor: pointer;
}

.portfolio__slider > i:hover {
    color: black;
}

.portfolio__current {
    transform: scale(1);
    z-index: 3;
    transition: 0.3s;
}

.portfolio__disabled {
    z-index: -1;
    position: fixed;
    transform: scale(0.5);
}

.portfolio__circle {
    display: flex;
}

.portfolio__circle_selected {
    transform: scale(1.2);
    background-color: black !important;
}

.portfolio__circle span {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    margin: 0.4rem;
}

.portfolio__item {
    width: 70vw;
    height: 35vw;
    object-fit: cover;
    transition: 0.3s;
    margin: 1.5rem 0 0.7rem 0;
}

.portfolio__body a {
    margin: 0 0 1rem 0;
}

.link {
    font-weight: 300;
}

.link:hover,
.link:active {
    font-weight: 500;
}

/*-----CONTACTS-----*/

.contacts__title {
    margin: 5rem 0 2.5rem 0;
}

.contacts__body {
    margin: 0 0 2.5rem 0;
}

.contacts__button {
    padding: 10px;
    margin-bottom: 2.5rem;
    width: 12rem;
    border-radius: 20px;
    transition: 0.5s;
}

.contacts__button:hover {
    transition: 0.5s;
    border-radius: 5px;
}

.contacts__socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15rem;
    height: 5rem;
}

.contacts__img {
    width: 3rem;
    transition: 0.3s;
}

.contacts__img:hover {
    transition: 0.3s;
    width: 4rem;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    font-size: 1rem;
    color: var(--secondary);
}
